.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paginacion button {
  margin: 15px 10px;
  border-radius: 40px;
  cursor: pointer;
  outline: 0;
  background: #f2f2f2;
  max-width: 360px;
  border: 0;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: bold;
}

.container button:hover,.container button:active,.container button:focus {
  background: #e6e5e5;
}

.row {
  width: 85%;
  margin: auto;
}

.content-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  margin: 40px 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 15px;
  width: 200px;
  height: 300px;
}
.card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}
.card h3 {
  margin-top: 20px;
  font-size: 20px;
}
.mail {
  font-size: 16px;
  color: #3d3d3d;
}